<div class="main-container d-flex">
  <div class="sidebar" id="side-nav">
    <div class="d-flex flex-column pt-3 pb-3 align-items-center">
      <img
        class="header-avatar"
        src="https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-cartoon-color-simple-male-avatar-png-image_1934459.jpg"
      />
      <span class="fs-4 text-white">Lê Gia Tuấn</span>
    </div>
    <hr class="hr-side mx-2" />
    <ul class="list-unstyled px-2">
      <li class="">
        <a
          href="dashBoard"
          class="text-decoration-none d-block pt-3 pb-3 mt-2 px-1"
          ><i class="fa-solid fa-house px-3"></i>Bảng điều khiển</a
        >
      </li>
      <li class="">
        <a
          href="products"
          class="text-decoration-none d-block pt-3 pb-3 mt-2 px-1"
        >
          <i class="fa-solid fa-book px-3"></i>Sản phẩm
        </a>
      </li>
      <li class="">
        <a
          href="category"
          class="text-decoration-none d-block pt-3 pb-3 mt-2 px-1"
        >
          <i class="fa-solid fa-receipt px-3"></i>Danh mục
        </a>
      </li>
      <li class="active">
        <a
          href="bills"
          class="text-decoration-none d-flex justify-content-between pt-3 pb-3 mt-2 px-1"
          ><span><i class="fa-solid fa-cart-shopping px-3"></i>Hóa đơn</span>
          <span class="bardge rounded-pill py-0 px-2">02</span></a
        >
      </li>
      <li class="">
        <a href="users" class="text-decoration-none d-block pt-3 pb-3 mt-2 px-1"
          ><i class="fa-solid fa-users px-3"></i>Người dùng</a
        >
      </li>
    </ul>
    <hr class="hr-side mx-2" />
    <ul class="list-unstyled px-2">
      <li class="">
        <a href="#" class="text-decoration-none d-block pt-3 pb-3 mt-2 px-1"
          ><i class="fa-solid fa-gears px-3"></i>Cài đặt</a
        >
      </li>
    </ul>
  </div>
  <div class="topbar">
    <a
      type="button"
      onclick="logout()"
      class="item-logout text-decoration-none"
    >
      <i class="fa-solid fa-right-from-bracket"></i>
    </a>
  </div>
  <div class="main-content px-4" style="overflow: scroll">
    <div class="header-content">
      <span class="fs-4">Danh sách đơn hàng</span>
      <div id="clock"></div>
    </div>
    <div class="table-container">
      <table
        id="tableData"
        class="table table-bordered table-hover"
        style="width: 100%"
      >
        <thead class="table-light">
          <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Avatar</th>
            <th>Tên</th>
            <th>Tuổi</th>
            <th>Giới tính</th>
            <th>Chức năng</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tiger Nixon</td>
            <td>System Architect</td>
            <td class="text-center">
              <img
                class="avatar-img"
                src="https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-cartoon-color-simple-male-avatar-png-image_1934459.jpg"
              />
            </td>
            <td>61</td>
            <td>2011-04-25</td>
            <td>$320,800</td>
            <td class="text-center">
              <button
                class="btn btn-primary btn-sm trash"
                type="button"
                title="Xóa"
                onclick="myFunction(this)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
              <button
                class="btn btn-primary btn-sm edit"
                type="button"
                title="Sửa"
                id="show-emp"
                data-toggle="modal"
                data-target="#ModalUP"
              >
                <i class="fas fa-edit"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>Garrett Winters</td>
            <td>Accountant</td>
            <td class="text-center">
              <img
                class="avatar-img"
                src="https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-cartoon-color-simple-male-avatar-png-image_1934459.jpg"
              />
            </td>
            <td>63</td>
            <td>2011-07-25</td>
            <td>$170,750</td>
            <td class="text-center">
              <button
                class="btn btn-primary btn-sm trash"
                type="button"
                title="Xóa"
                onclick="myFunction(this)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
              <button
                class="btn btn-primary btn-sm edit"
                type="button"
                title="Sửa"
                id="show-emp"
                data-toggle="modal"
                data-target="#ModalUP"
              >
                <i class="fas fa-edit"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>Ashton Cox</td>
            <td>Junior Technical Author</td>
            <td class="text-center">
              <img
                class="avatar-img"
                src="https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-cartoon-color-simple-male-avatar-png-image_1934459.jpg"
              />
            </td>
            <td>66</td>
            <td>2009-01-12</td>
            <td>$86,000</td>
            <td class="text-center">
              <button
                class="btn btn-primary btn-sm trash"
                type="button"
                title="Xóa"
                onclick="myFunction(this)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
              <button
                class="btn btn-primary btn-sm edit"
                type="button"
                title="Sửa"
                id="show-emp"
                data-toggle="modal"
                data-target="#ModalUP"
              >
                <i class="fas fa-edit"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>Cedric Kelly</td>
            <td>Senior Javascript Developer</td>
            <td class="text-center">
              <img
                class="avatar-img"
                src="https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-cartoon-color-simple-male-avatar-png-image_1934459.jpg"
              />
            </td>
            <td>22</td>
            <td>2012-03-29</td>
            <td>$433,060</td>
            <td class="text-center">
              <button
                class="btn btn-primary btn-sm trash"
                type="button"
                title="Xóa"
                onclick="myFunction(this)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
              <button
                class="btn btn-primary btn-sm edit"
                type="button"
                title="Sửa"
                id="show-emp"
                data-toggle="modal"
                data-target="#ModalUP"
              >
                <i class="fas fa-edit"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>Airi Satou</td>
            <td>Accountant</td>
            <td class="text-center">
              <img
                class="avatar-img"
                src="https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-cartoon-color-simple-male-avatar-png-image_1934459.jpg"
              />
            </td>
            <td>33</td>
            <td>2008-11-28</td>
            <td>$162,700</td>
            <td class="text-center">
              <button
                class="btn btn-primary btn-sm trash"
                type="button"
                title="Xóa"
                onclick="myFunction(this)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
              <button
                class="btn btn-primary btn-sm edit"
                type="button"
                title="Sửa"
                id="show-emp"
                data-toggle="modal"
                data-target="#ModalUP"
              >
                <i class="fas fa-edit"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>Brielle Williamson</td>
            <td>Integration Specialist</td>
            <td class="text-center">
              <img
                class="avatar-img"
                src="https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-cartoon-color-simple-male-avatar-png-image_1934459.jpg"
              />
            </td>
            <td>61</td>
            <td>2012-12-02</td>
            <td>$372,000</td>
            <td class="text-center">
              <button
                class="btn btn-primary btn-sm trash"
                type="button"
                title="Xóa"
                onclick="myFunction(this)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
              <button
                class="btn btn-primary btn-sm edit"
                type="button"
                title="Sửa"
                id="show-emp"
                data-toggle="modal"
                data-target="#ModalUP"
              >
                <i class="fas fa-edit"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>Herrod Chandler</td>
            <td>Sales Assistant</td>
            <td class="text-center">
              <img
                class="avatar-img"
                src="https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-cartoon-color-simple-male-avatar-png-image_1934459.jpg"
              />
            </td>
            <td>59</td>
            <td>2012-08-06</td>
            <td>$137,500</td>
            <td class="text-center">
              <button
                class="btn btn-primary btn-sm trash"
                type="button"
                title="Xóa"
                onclick="myFunction(this)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
              <button
                class="btn btn-primary btn-sm edit"
                type="button"
                title="Sửa"
                id="show-emp"
                data-toggle="modal"
                data-target="#ModalUP"
              >
                <i class="fas fa-edit"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>Rhona Davidson</td>
            <td>Integration Specialist</td>
            <td class="text-center">
              <img
                class="avatar-img"
                src="https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-cartoon-color-simple-male-avatar-png-image_1934459.jpg"
              />
            </td>
            <td>55</td>
            <td>2010-10-14</td>
            <td>$327,900</td>
            <td class="text-center">
              <button
                class="btn btn-primary btn-sm trash"
                type="button"
                title="Xóa"
                onclick="myFunction(this)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
              <button
                class="btn btn-primary btn-sm edit"
                type="button"
                title="Sửa"
                id="show-emp"
                data-toggle="modal"
                data-target="#ModalUP"
              >
                <i class="fas fa-edit"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>Colleen Hurst</td>
            <td>Javascript Developer</td>
            <td class="text-center">
              <img
                class="avatar-img"
                src="https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-cartoon-color-simple-male-avatar-png-image_1934459.jpg"
              />
            </td>
            <td>39</td>
            <td>2009-09-15</td>
            <td>$205,500</td>
            <td class="text-center">
              <button
                class="btn btn-primary btn-sm trash"
                type="button"
                title="Xóa"
                onclick="myFunction(this)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
              <button
                class="btn btn-primary btn-sm edit"
                type="button"
                title="Sửa"
                id="show-emp"
                data-toggle="modal"
                data-target="#ModalUP"
              >
                <i class="fas fa-edit"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>Sonya Frost</td>
            <td>Software Engineer</td>
            <td class="text-center">
              <img
                class="avatar-img"
                src="https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-cartoon-color-simple-male-avatar-png-image_1934459.jpg"
              />
            </td>
            <td>23</td>
            <td>2008-12-13</td>
            <td>$103,600</td>
            <td class="text-center">
              <button
                class="btn btn-primary btn-sm trash"
                type="button"
                title="Xóa"
                onclick="myFunction(this)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
              <button
                class="btn btn-primary btn-sm edit"
                type="button"
                title="Sửa"
                id="show-emp"
                data-toggle="modal"
                data-target="#ModalUP"
              >
                <i class="fas fa-edit"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>Jena Gaines</td>
            <td>Office Manager</td>
            <td class="text-center">
              <img
                class="avatar-img"
                src="https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-cartoon-color-simple-male-avatar-png-image_1934459.jpg"
              />
            </td>
            <td>30</td>
            <td>2008-12-19</td>
            <td>$90,560</td>
            <td class="text-center">
              <button
                class="btn btn-primary btn-sm trash"
                type="button"
                title="Xóa"
                onclick="myFunction(this)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
              <button
                class="btn btn-primary btn-sm edit"
                type="button"
                title="Sửa"
                id="show-emp"
                data-toggle="modal"
                data-target="#ModalUP"
              >
                <i class="fas fa-edit"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>Quinn Flynn</td>
            <td>Support Lead</td>
            <td class="text-center">
              <img
                class="avatar-img"
                src="https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-cartoon-color-simple-male-avatar-png-image_1934459.jpg"
              />
            </td>
            <td>22</td>
            <td>2013-03-03</td>
            <td>$342,000</td>
            <td class="text-center">
              <button
                class="btn btn-primary btn-sm trash"
                type="button"
                title="Xóa"
                onclick="myFunction(this)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
              <button
                class="btn btn-primary btn-sm edit"
                type="button"
                title="Sửa"
                id="show-emp"
                data-toggle="modal"
                data-target="#ModalUP"
              >
                <i class="fas fa-edit"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>Charde Marshall</td>
            <td>Regional Director</td>
            <td class="text-center">
              <img
                class="avatar-img"
                src="https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-cartoon-color-simple-male-avatar-png-image_1934459.jpg"
              />
            </td>
            <td>36</td>
            <td>2008-10-16</td>
            <td>$470,600</td>
            <td class="text-center">
              <button
                class="btn btn-primary btn-sm trash"
                type="button"
                title="Xóa"
                onclick="myFunction(this)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
              <button
                class="btn btn-primary btn-sm edit"
                type="button"
                title="Sửa"
                id="show-emp"
                data-toggle="modal"
                data-target="#ModalUP"
              >
                <i class="fas fa-edit"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>Haley Kennedy</td>
            <td>Senior Marketing Designer</td>
            <td class="text-center">
              <img
                class="avatar-img"
                src="https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-cartoon-color-simple-male-avatar-png-image_1934459.jpg"
              />
            </td>
            <td>43</td>
            <td>2012-12-18</td>
            <td>$313,500</td>
            <td class="text-center">
              <button
                class="btn btn-primary btn-sm trash"
                type="button"
                title="Xóa"
                onclick="myFunction(this)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
              <button
                class="btn btn-primary btn-sm edit"
                type="button"
                title="Sửa"
                id="show-emp"
                data-toggle="modal"
                data-target="#ModalUP"
              >
                <i class="fas fa-edit"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>Tatyana Fitzpatrick</td>
            <td>Regional Director</td>
            <td class="text-center">
              <img
                class="avatar-img"
                src="https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-cartoon-color-simple-male-avatar-png-image_1934459.jpg"
              />
            </td>
            <td>19</td>
            <td>2010-03-17</td>
            <td>$385,750</td>
            <td class="text-center">
              <button
                class="btn btn-primary btn-sm trash"
                type="button"
                title="Xóa"
                onclick="myFunction(this)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
              <button
                class="btn btn-primary btn-sm edit"
                type="button"
                title="Sửa"
                id="show-emp"
                data-toggle="modal"
                data-target="#ModalUP"
              >
                <i class="fas fa-edit"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>Michael Silva</td>
            <td>Marketing Designer</td>
            <td class="text-center">
              <img
                class="avatar-img"
                src="https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-cartoon-color-simple-male-avatar-png-image_1934459.jpg"
              />
            </td>
            <td>66</td>
            <td>2012-11-27</td>
            <td>$198,500</td>
            <td class="text-center">
              <button
                class="btn btn-primary btn-sm trash"
                type="button"
                title="Xóa"
                onclick="myFunction(this)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
              <button
                class="btn btn-primary btn-sm edit"
                type="button"
                title="Sửa"
                id="show-emp"
                data-toggle="modal"
                data-target="#ModalUP"
              >
                <i class="fas fa-edit"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>Paul Byrd</td>
            <td>Chief Financial Officer (CFO)</td>
            <td class="text-center">
              <img
                class="avatar-img"
                src="https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-cartoon-color-simple-male-avatar-png-image_1934459.jpg"
              />
            </td>
            <td>64</td>
            <td>2010-06-09</td>
            <td>$725,000</td>
            <td class="text-center">
              <button
                class="btn btn-primary btn-sm trash"
                type="button"
                title="Xóa"
                onclick="myFunction(this)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
              <button
                class="btn btn-primary btn-sm edit"
                type="button"
                title="Sửa"
                id="show-emp"
                data-toggle="modal"
                data-target="#ModalUP"
              >
                <i class="fas fa-edit"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>Gloria Little</td>
            <td>Systems Administrator</td>
            <td class="text-center">
              <img
                class="avatar-img"
                src="https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-cartoon-color-simple-male-avatar-png-image_1934459.jpg"
              />
            </td>
            <td>59</td>
            <td>2009-04-10</td>
            <td>$237,500</td>
            <td class="text-center" class="text-center">
              <button
                class="btn btn-primary btn-sm trash"
                type="button"
                title="Xóa"
                onclick="myFunction(this)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
              <button
                class="btn btn-primary btn-sm edit"
                type="button"
                title="Sửa"
                id="show-emp"
                data-toggle="modal"
                data-target="#ModalUP"
              >
                <i class="fas fa-edit"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>Bradley Greer</td>
            <td>Software Engineer</td>
            <td class="text-center">
              <img
                class="avatar-img"
                src="https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-cartoon-color-simple-male-avatar-png-image_1934459.jpg"
              />
            </td>
            <td>41</td>
            <td>2012-10-13</td>
            <td>$132,000</td>
            <td class="text-center">
              <button
                class="btn btn-primary btn-sm trash"
                type="button"
                title="Xóa"
                onclick="myFunction(this)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
              <button
                class="btn btn-primary btn-sm edit"
                type="button"
                title="Sửa"
                id="show-emp"
                data-bs-toggle="modal"
                data-bs-target="#ModalUP"
              >
                <i class="fas fa-edit"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Moda -->
<div
  class="modal fade"
  id="ModalUP"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="form-group col-md-12">
            <span class="thong-tin-thanh-toan">
              <h5>Chỉnh sửa thông tin sản phẩm cơ bản</h5>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label class="control-label">Mã sản phẩm </label>
            <input class="form-control" type="number" value="71309005" />
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Tên sản phẩm</label>
            <input
              class="form-control"
              type="text"
              required
              value="Bàn ăn gỗ Theresa"
            />
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Số lượng</label>
            <input class="form-control" type="number" required value="20" />
          </div>
          <div class="form-group col-md-6">
            <label for="exampleSelect1" class="control-label"
              >Tình trạng sản phẩm</label
            >
            <select class="form-control" id="exampleSelect1">
              <option>Còn hàng</option>
              <option>Hết hàng</option>
              <option>Đang nhập hàng</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Giá bán</label>
            <input class="form-control" type="text" value="5.600.000" />
          </div>
          <div class="form-group col-md-6">
            <label for="exampleSelect1" class="control-label">Danh mục</label>
            <select class="form-control" id="exampleSelect1">
              <option>Bàn ăn</option>
              <option>Bàn thông minh</option>
              <option>Tủ</option>
              <option>Ghế gỗ</option>
              <option>Ghế sắt</option>
              <option>Giường người lớn</option>
              <option>Giường trẻ em</option>
              <option>Bàn trang điểm</option>
              <option>Giá đỡ</option>
            </select>
          </div>
        </div>
        <br />
        <a href="#" style="float: right; font-weight: 600; color: #ea0000"
          >Chỉnh sửa sản phẩm nâng cao</a
        >
        <br />
        <br />
        <button class="btn btn-save" type="button">Lưu lại</button>
        <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
        <br />
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
<!-- Moda -->
