<div class="main-container d-flex">
  <div class="sidebar" id="side-nav">
    <div class="d-flex flex-column pt-3 pb-3 align-items-center">
      <img class="header-avatar"
        src="https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-cartoon-color-simple-male-avatar-png-image_1934459.jpg" />
      <span class="fs-4 text-white">Lê Gia Tuấn</span>
    </div>
    <hr class="hr-side mx-2" />
    <ul class="list-unstyled px-2">
      <li class="active">
        <a href="dashBoard" class="text-decoration-none d-block pt-3 pb-3 mt-2 px-1"><i
            class="fa-solid fa-house px-3"></i>Bảng điều khiển</a>
      </li>
      <li class="">
        <a href="products" class="text-decoration-none d-block pt-3 pb-3 mt-2 px-1">
          <i class="fa-solid fa-book px-3"></i>Sản phẩm
        </a>
      </li>
      <li class="">
        <a href="category" class="text-decoration-none d-block pt-3 pb-3 mt-2 px-1">
          <i class="fa-solid fa-receipt px-3"></i>Danh mục
        </a>
      </li>
      <li class="">
        <a href="users" class="text-decoration-none d-block pt-3 pb-3 mt-2 px-1"><i
            class="fa-solid fa-users px-3"></i>Người dùng</a>
      </li>
    </ul>
  </div>
  <div class="topbar">
    <a type="button" onclick="logout()" class="item-logout text-decoration-none">
      <i class="fa-solid fa-right-from-bracket"></i>
    </a>
  </div>
  <div class="main-content px-4" style="overflow: scroll">
    <div class="header-content">
      <span class="fs-4">Dashboard</span>
      <div id="clock"></div>
    </div>
  </div>
</div>
<!-- Moda -->
<div class="modal fade" id="ModalUP" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
  data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="form-group col-md-12">
            <span class="thong-tin-thanh-toan">
              <h5>Chỉnh sửa thông tin sản phẩm cơ bản</h5>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label class="control-label">Mã sản phẩm </label>
            <input class="form-control" type="number" value="71309005" />
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Tên sản phẩm</label>
            <input class="form-control" type="text" required value="Bàn ăn gỗ Theresa" />
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Số lượng</label>
            <input class="form-control" type="number" required value="20" />
          </div>
          <div class="form-group col-md-6">
            <label for="exampleSelect1" class="control-label">Tình trạng sản phẩm</label>
            <select class="form-control" id="exampleSelect1">
              <option>Còn hàng</option>
              <option>Hết hàng</option>
              <option>Đang nhập hàng</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Giá bán</label>
            <input class="form-control" type="text" value="5.600.000" />
          </div>
          <div class="form-group col-md-6">
            <label for="exampleSelect1" class="control-label">Danh mục</label>
            <select class="form-control" id="exampleSelect1">
              <option>Bàn ăn</option>
              <option>Bàn thông minh</option>
              <option>Tủ</option>
              <option>Ghế gỗ</option>
              <option>Ghế sắt</option>
              <option>Giường người lớn</option>
              <option>Giường trẻ em</option>
              <option>Bàn trang điểm</option>
              <option>Giá đỡ</option>
            </select>
          </div>
        </div>
        <br />
        <a href="#" style="float: right; font-weight: 600; color: #ea0000">Chỉnh sửa sản phẩm nâng cao</a>
        <br />
        <br />
        <button class="btn btn-save" type="button">Lưu lại</button>
        <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
        <br />
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
<!-- Moda -->